.metallic-silver-background {
  background: #c0c0c0; /* Fallback for older browsers */
  background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
}

.metallic-silver-radial {
  background: #c0c0c0; /* Fallback */
  background: radial-gradient(ellipse at center, #fefefe 0%, #d1d1d1 50%, #b0b0b0 100%);
}

